<html>
<head lang="ru">
    <meta charset="UTF-8"/>
    <title>Game</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
        var ws;

        init = function () {
            ws = new WebSocket("ws://localhost:8888/gameplay");
            gameButton.onclick = function(e){
                console.log("click");
                e.preventDefault();
                sendMessage("increment");
            }
            ws.onopen = function (event) {
                console.log("onOpen");
            }

            ws.onmessage = function (event) {
                console.log(event.data);
                var data = event.data;
                data = JSON.parse(data);
                if(data.status == "start"){
                    console.log("start");
                    $(".status").html("Жми кнопку");
                    $("#gameButton").show();
                    for(i=0;i<data.users.length;i++) {
                        var name = data.users[i];
                        var score = 0;
                        $(".players").append("\<li" + " id=" + "\""+name+"\"\>"+name + " : " + score +"\</li\>");
                    }
                }

                if(data.status == "increment"){
                    console.log("increment");
                    var name = data.name;
                    var score = data.score;
                    $("#"+name).html(name + " : " + score);

                }
                if(data.status == "finish"){
                    console.log("finish");
                    $(".status").html("Выйграл : " + data.win);
                    $("#gameButton").hide();
                }

            }

            ws.onclose = function (event) {
                console.log("onClose")
            }

        };

        function sendMessage(message) {
            console.log("send message");
            ws.send(message);
        }

    </script>
</head>
<body onload="init();">
    <div class="status">Ждите</div>
    <button id="gameButton" style="display:none;">press</button>
    <ul class="players">

    </ul>
</body>
</html>