<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .link{
            display: block;
            border-style: solid;
            border-width: 2px;
            border-color: blueviolet;
            border-radius: 4px;
            width: 50%;
            height: 2em;
            margin-top: 5px;
            text-align: center;

        }
    </style>
</head>
<body>
    <p>Привет ${name}</p>
    <a href="/singUp" class="link">Регистрация</a>
    <a href="/singIn" class="link">Авторизация</a>
    <a href="/game" class="link">Играть</a>
    <a href="/logout" class="link">Выйти</a>
</body>
</html>